html
    head
        title PawnOnline by MayerDev
        meta(charset='utf-8')
        link(rel='stylesheet', href='/codemirror/lib/codemirror.css')
        link(rel='stylesheet', href='/codemirror/theme/darcula.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        div.top-menu
            input.upload(type='file')
            button.button-build(type='button') Собрать
            
        div.editor
        
        script(src='/codemirror/lib/codemirror.js')
        script(src='/codemirror/mode/clike/clike.js')
        script(src='/js/script.js')